body{
  background:100%;
  background-color: #64bbdd; 
  background-image: linear-gradient(#64bbdd, #e8f0f3); 
  background-size:cover;
}

#gradient {
    background:100%;
    background-color: #64bbdd; 
    background-image: linear-gradient(#64bbdd, #e8f0f3); 
    background-size:cover;
  }

  #signupContainer{
    font-weight: bold;
    color: black;
  position: absolute;
  text-align: center;
    width:250px;
  }
  #loginDiv {
    text-align: right;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    color: gray; 
    width:100px;
}

  #loginButton {
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0px;
    color: gray; 
    width:100px;
    text-align: right;
  }
  #instructions{
    font-weight: bold;
    color:gray;
    text-align: center;
  }

  img{
    text-align: center;
    width: 75%;
    height: auto;
}

#logo{
  text-align: center;
}

#label{
  text-align: left;
}

#error{
  color:red;
}